html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-color: cornflowerblue;
  margin: 0;
  padding: 0;
}

main {
  max-width: 1200px;
  height: 100%;
  border: black 2px solid;
  margin: 0 auto;
  background-color: beige;
}