@import "components/config";
@import "components/fc-hp-header";
@import "components/separator-line";
@import "components/fc-hp-intro-bar";
@import "components/fc-hp-grid-element";
@import "components/fc-hp-cards";
@import "components/company-description";
@import "components/base-area";


html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    background-color: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}
