@import "components/config";
@import "components/header";
@import "components/separator-line";
@import "components/intro-bar";
@import "components/grid-element";
@import "components/page-cards";
@import "components/sub-lp-cards";
@import "components/company-description";
@import "components/work-we-do";
@import "components/separator-line";


html{
    box-sizing: border-box;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    background-color: $primary-color;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}




/* **************************
***** MEDIA QUERIES ******************************************
************************** */

@media screen and (min-width: 719px) {
    
    .grid-container{
        grid-template-columns: 1fr 1fr;
        // grid-template-rows: 120px;
        // grid-auto-rows: 60px;
    }
}