.company-description{
 width: 70%;
 height: 300px;
 margin: 3rem auto;
 border: 2px solid coral;
 
 h2{
   font-size: 1rem;
   font-weight: bold;
   text-align: center;
  } 
  
  h1{
    text-align: center;
    font-weight: bold;
    line-height: 0.8;
    font-size: 2rem;
    text-align: center;
  }   

  p{
    text-align: center;
    font-size: 0.8rem;
    padding: 6px 2rem;
  }

  .separator-line{
    width: 20%;
    margin: 0.8rem auto;
  }


}