.fc-hp-grid-wrapper{
    width: 100%;
    max-width: 1200px;
}

.fc-hp-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    gap: 12px;
    padding: 10px;
    justify-content: center;
}
        
.fc-hp-grid-element{
    width: 100%;
    grid-row: span 2;
    text-align: center;
    background: $background-color;
    position: relative;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover
    }

    .text-on-image{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        h2{
            font-size: 1rem;
            color: white;
        }
    }

}



/* **************************
***** MEDIA QUERIES ******************************************
************************** */

@media screen and (min-width: 719px) {

    .fc-hp-grid-container{
        grid-template-columns: 1fr 1fr ;
        gap: 16px;
        .fc-hp-grid-element{
            width: 100%;
            grid-row: span 2;
        }    
    }   
}

@media screen and (min-width: 992px) {

    .fc-hp-grid-container{
        gap: 24px;
        }    
}