.fc-hp-cards{
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 200px;
  gap: 12px;

  .grid-card{
    grid-row: span 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    .card-box{
      background-color: $background-color;
      flex: 1 1 auto;
      position: relative;

      img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .box-text{
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;     
        
        h2{
          padding: 0 4px;
          color: white;
          text-align: center;
        }
      }
    }

    p{
      padding: 4px;
      margin: 6px 0 0 0;
      text-align: start;
      font-size: 14px;
    }
  }
}

/* **************************
***** MEDIA QUERIES ******************************************
************************** */

@media screen and (min-width: 460px) {
  .fc-hp-cards{
    width: 80%;
  }
}

@media screen and (min-width: 576px) {
  .fc-hp-cards{
    width: 75%;
  }
}

@media screen and (min-width: 640px) {
  .fc-hp-cards{
    width: 70%;
  }
}

@media screen and (min-width: 719px) {

  .fc-hp-cards{
    width: 90%;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:260px;
    gap: 26px;

    .grid-card{
      grid-row: span 1;
     
      P{
        margin: 6px 0;
        text-align: start;
        font-size: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: 992px) {

  .fc-hp-cards{
    grid-auto-rows:380px;

    .grid-card{
     
      P{
        margin: 6px 0;
        text-align: start;
        font-size: 1rem;
      }
    }
  }
}