.intro-bar{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;

    .intro-bar-box-1,
    .intro-bar-box-2{
        width: 100%;
        height: 100%;
        min-height: 60px;
        display: flex;
        text-align: start;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
            
        p{
            font-size: 11px;      
        }
    }

    .intro-bar-box-2{
        background-color: $background-color;
    
        p {
            color: white;
        }
    }
}

/* **************************
***** MEDIA QUERIES ******************************************
************************** */

@media screen and (min-width: 576px){
    
    .intro-bar{
        flex-direction: row;
        margin: 10px auto;
    }
}

@media screen and (min-width: 719px){
 
    .intro-bar{
        .intro-bar-box-1,
        .intro-bar-box-2{
            p{
                font-size: 12px;      
            }
        }    
    }
}

@media screen and (min-width: 992px){
 
    .intro-bar{
        .intro-bar-box-1,
        .intro-bar-box-2{
            p{
                font-size: 1rem;      
            }
        }    
    }
}
