
.cards-wrapper{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  
  .page-cards{
    width: 80%;
    height: auto;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
  
  .page-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    .card-image-and-text{
      min-height: 400px;
      width: 100%;
      flex: 1 1 auto;
      position: relative;
      background-color: $background-color;
      
      img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .text-on-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        h2{
            text-align: center;
            margin: 0;
            color: $primary-color;
            font-size: 1rem;
          }
      }
    }
    p{
      font-size: 12px;
      text-align: start;
      background-color: $primary-color;
      margin: 8px 0;
      }
    
    }
  
  }
}



/* **************************
***** MEDIA QUERIES ******************************************
************************** */

@media screen and (min-width: 719px){
  
  .page-cards{
    flex-direction: row !important;
    gap: 10px;

    .page-card{
      margin: 0 !important;
    
      .card-image-and-text{
        min-height: 260px !important;
      }
    }
  }

}

@media screen and (min-width: 992px){

    .card-image-and-text{
      min-height: 420px !important;
    }
}