
.line-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.separator-line{
    // display: inline-block;
    text-align: center;
    width: 10%;
    max-width: 200px;
    height: 3px;
    background-color: $separator-line;
    margin: 2rem
}